<div class="posts">
  <%= content_tag(:div, '', id: 'app') %>
  <h1>Posts</h1>
  Our blog has <%= Post.public_count %> posts and counting!

  <ul>
    <% @posts.each do |post| %>
      <% unless post.archived? %>
        <li>
            <%= link_to post.title, post %>
          <p>
            <%= post.body %>
          </p>    
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "New Post", new_post_path %>
</div>